<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <link rel="stylesheet" href="summary.component.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap">
    <link href="https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">   
</head>
<body>
    <section class="summary-container"> 
        <p class="textTitle">SUMMARY OF ACTIVITIES</p>
        <h1 class="month">JANUARY</h1> 
        <div class="cta">  <!-- for each container will be added once we have the logic for backend -->
            <ol type="1">
              <li><a href="">CCS WEEK</a></li> 
              <li><a href="">CCS WEEK</a></li>
              <li><a href="">CCS WEEK</a></li>
            </ol>    
        </div>
        <h1 class="month">FEBRUARY</h1>
        <div class="cta">
            <ol type="1">
                <li> <a href="">CCS WEEK</a> </li> 
                <li> <a href="">CCS WEEK</a> </li> 
                <li> <a href="">CCS WEEK</a> </li> 
            </ol>           
        </div>
        <h1 class="month">MARCH</h1>
        <div class="cta">
            <ol type="1">
                <li> <a href="">CCS WEEK</a> </li> 
                <li> <a href="">CCS WEEK</a> </li> 
                <li> <a href="">CCS WEEK</a> </li> 
            </ol>           
        </div>
        <h1 class="month">APRIL</h1>
        <div class="cta">
            <ol type="1">
                <li> <a href="">CCS WEEK</a> </li> 
                <li> <a href="">CCS WEEK</a> </li> 
                <li> <a href="">CCS WEEK</a> </li> 
            </ol>           
        </div>
        <h1 class="month">MAY</h1>
        <div class="cta">
            <ol type="1">
                <li> <a href="">CCS WEEK</a> </li> 
                <li> <a href="">CCS WEEK</a> </li> 
                <li> <a href="">CCS WEEK</a> </li> 
            </ol>           
        </div>
        <h1 class="month">JUNE</h1>
        <div class="cta">
            <ol type="1">
                <li> <a href="">CCS WEEK</a> </li> 
                <li> <a href="">CCS WEEK</a> </li> 
                <li> <a href="">CCS WEEK</a> </li> 
            </ol>           
        </div>
        <h1 class="month">JULY</h1>
        <div class="cta">
            <ol type="1">
                <li> <a href="">CCS WEEK</a> </li> 
                <li> <a href="">CCS WEEK</a> </li> 
                <li> <a href="">CCS WEEK</a> </li> 
            </ol>           
        </div>
        <h1 class="month">AUGUST</h1>
        <div class="cta">
            <ol type="1">
                <li> <a href="">CCS WEEK</a> </li> 
                <li> <a href="">CCS WEEK</a> </li> 
                <li> <a href="">CCS WEEK</a> </li> 
            </ol>           
        </div>
        <h1 class="month">SEPTEMBER</h1>
        <div class="cta">
            <ol type="1">
                <li> <a href="">CCS WEEK</a> </li> 
                <li> <a href="">CCS WEEK</a> </li> 
                <li> <a href="">CCS WEEK</a> </li> 
            </ol>           
        </div>
        <h1 class="month">OCTOBER</h1>
        <div class="cta">
            <ol type="1">
                <li> <a href="">CCS WEEK</a> </li> 
                <li> <a href="">CCS WEEK</a> </li> 
                <li> <a href="">CCS WEEK</a> </li> 
            </ol>           
        </div>
        <h1 class="month">NOVEMBER</h1>
        <div class="cta">
            <ol type="1">
                <li> <a href="">CCS WEEK</a> </li> 
                <li> <a href="">CCS WEEK</a> </li> 
                <li> <a href="">CCS WEEK</a> </li> 
            </ol>           
        </div>
        <h1 class="month">DECEMBER</h1>
        <div class="cta">
            <ol type="1">
                <li> <a href="">CCS WEEK</a> </li> 
                <li> <a href="">CCS WEEK</a> </li> 
                <li> <a href="">CCS WEEK</a> </li> 
            </ol>           
        </div>
    </section>
    <router-outlet></router-outlet>
</body>
</html>
